<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Click To View Chat
    </mat-panel-title>
  </mat-expansion-panel-header>
  <!-- text entry for the chat is below-->
  <form id="chat-message-entry" class="chat-class0"[formGroup]="chatFormGroup">
      <mat-form-field>
      <textarea matInput formControlName="enteredMessage" placeholder="Enter Message" class="textEntryClass" id="textEntry" required></textarea>
      </mat-form-field>
      <button (click)="sendChat()" type="button" class="send-button" >Send</button>
  </form>
</mat-expansion-panel>
