.userNameField {
  color:black;
  font-weight: bold;

}

#userNameField {display:inline-block;margin-right:5px;}
#messageField {display:inline-block;}

#refreshChatButton {
  padding: 1.2em;
}

#exitChat {
  padding: 1.2em;
}
