<button class="exitChatButton" id="exitChat" mat-raised-button [mat-dialog-close]="null" type="button">Exit</button>
<!-- refresh chat button, if I had more time, maybe it's possible to automatically refresh -->
<button (click)="refreshChats()" class="refresh-chat" id="refreshChatButton" mat-raised-button type="button">Refresh Chats</button>

  <!-- displaying chats is below-->
<div *ngFor="let chatList of chats">
  <div *ngIf="chatList.rideID == rideIDpassed">
    <div class="date">{{chatList.chatArray.slice(
      (chatList.chatArray.indexOf(", date=")+7),
      (chatList.chatArray.indexOf("&#125;"))
      )}}</div>
    <div class="userNameField" id="userNameField">{{chatList.chatArray.slice(
    (chatList.chatArray.indexOf("author=")+7),
    chatList.chatArray.indexOf(", content=")
    )}}</div>
    <div class="messageField" id="messageField">&#8209; {{ chatList.chatArray.slice(
    (chatList.chatArray.indexOf("content=")+8),
    chatList.chatArray.indexOf(", date=")
      )}}</div>
    <p></p>
</div>
</div>


  <!-- text entry for the chat is below-->
  <form id="chat-message-entry" class="chat-class0" [formGroup]="chatFormGroup">
      <mat-form-field>
      <textarea matInput formControlName="enteredMessage" placeholder="Enter Message" class="textEntryClass" id="textEntry" required></textarea>
      </mat-form-field>
      <button (click)="sendChat()" type="button" class="send-button" >Send</button>
  </form>
<!--</mat-expansion-panel>-->



<ng-template #chatListError>
  <mat-error>
    There was a problem loading chats for this ride. Possibly the server is down or perhaps there are network
    issues.
  </mat-error>
</ng-template>
